:root{
    --verydarkblue: hsl(243, 87%, 12%);
    --desaturatedblue: hsl(238, 22%, 44%);
    --brightblue: hsl(224, 93%, 58%);
    --moderatecyan: hsl(170, 45%, 43%);
    --lightgrayishblue: hsl(240, 75%, 98%);
    --lightgray: hsl(0, 0%, 75%);
}

/*font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;*/

body{
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header img{
    margin: 1rem 0rem 0rem 1rem;
}

header nav{
    margin-top: 1.1rem;
}

header nav a{
    text-decoration: none;
    color: var(--desaturatedblue);
    font-family: 'Open Sans', sans-serif;
    margin: 0.8rem;
}

.descriptionimg{
    background-image: url(../images/illustration-1.svg);
    width: 100%;
    height: 330px;
    background-size: cover;
    margin: auto;
    margin-top: 5rem;
}

.description h1{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: var(--verydarkblue);
    font-size: 35px;
    margin-bottom: 2rem;
}

.description p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-inline: 2.5rem;
    text-align: center;
    color: var(--verydarkblue);
}

.inputs{
    display: flex;
    flex-direction: column;
}
.inputs input{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-inline: 2rem;
    padding: 0.8rem;
    border: solid var(--verydarkblue) 1px;
    border-radius: 0.3rem;
    color: var(--lightgrayishblue);
}

.inputs button{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-inline: 2rem;
    padding: 0.8rem;
    margin-top: 1rem;
    background-color: var(--brightblue);
    border-style: none;
    border-radius: 0.3rem;
    color: white;
}

.productivityimg{
    margin-top: 20rem;
    background-image: url(../images/illustration-2.svg);
    width: 100%;
    height: 330px;
    background-size: cover;
}

.productivity{
    text-align: center;
}

.productivity h2{
    margin-top: 4rem;
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    text-align: center;
    color: var(--verydarkblue);
}

.productivity p{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin-inline: 1.2rem;
    color: var(--verydarkblue);
    line-height: 1.5rem;
}

.productivity button{
    margin: 1.5rem;
    background-color: white;
    border-style: none;
    color: var(--moderatecyan);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    border-bottom: solid 1px;
}

.commentary{
    margin: auto;
    margin-top: 2rem;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--lightgray);
    text-align: left;
    padding: 2rem 1rem;
}

.commentary p{
    margin: 0.5rem 0rem 0rem 2rem;
    font-size: 14px;
}

.commentary img{
    height: 1.2rem;
    width: 1.2rem;
    margin-left: 2rem;
}

.ceo{
    display: flex;
    flex-direction: row;
}

.ceo img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-top: 1rem;
    margin-right: 0.5rem;
}

.ceo h3{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin: 1.5rem 0rem 0rem 0rem;
    color: var(--verydarkblue);
}

.ceo p{
    margin: 0;
    font-size: 12px;
}

.earlyaccess{
    width: 100%;
    background-color: var(--desaturatedblue);
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif ;
    margin-top: 7rem;
}

.earlyaccess h2{
    font-weight: 600;
    font-size: 20px;
    padding-top: 4rem;
}

.earlyaccess p{
    margin: 2rem 3rem;
    font-size: 17px;
}

.earlyaccess form{
    display: flex;
    flex-direction: column;
    padding-bottom: 6rem;
}

.earlyaccess form input{
    margin-inline: 6rem;
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    border-style: none;
    border-radius: 0.1rem;
}

.earlyaccess form button{
    margin-inline: 6rem;
    padding: 0.8rem;
    background-color: var(--brightblue);
    color: white;
    border-style: none;
    border-radius: 0.1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

footer{
    background-color: var(--verydarkblue);
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-left: 3rem;
}

footer svg{
    margin-top: 4rem;
}

.phone{
    display: flex;
    height: 2.5rem;
    margin-top: 1rem;
}

.phone img{
    margin-top: 1.1rem;
    margin-right: 1rem;
    width: auto;
    height: 1rem;
}

.mail{
    display: flex;
}

.mail img{
    margin-top: 1.1rem;
    margin-right: 0.8rem;
    width: auto;
    height: 1rem;
}

footer nav{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    line-height: 2rem;
}

footer nav a{
    text-decoration: none;
    color: white;
}

.icons{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    padding-bottom: 1rem;
}

.icons div{
    height: 3rem;
    width: 3rem;
    border: solid white 1px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 1rem;
}

.icons img{
    width: 1.5rem;
}

@media (min-width: 1440px){
    header{
        margin: 1rem 3rem;
    }
    .description{
        display: grid;
        grid-template-areas: 
        'leftside rightside';
    }
    .descriptionimg{
        grid-area: rightside;
    }
    .descriptioncontent{
        grid-area: leftside;
    }
}